<% provide(:title, '国科大跳蚤市场') %>

<div style="float:left">
  <div id='leftbox' style="float:left">
    <ul>
      <% @tags.each do |tag| %>
        <li>
          <%= link_to tag.tag_name, '#' %>
        </li>
      <% end %>
    </ul>
  </div>
  <div id='search_post' style="float:left">
    <div>
      <form>
        <input id='search_input' placeholder='搜索'>
        <button>搜索</button>
      </form>
    </div>
    <div id='postlist'>
      <%= will_paginate %>
      <ul class='posts'>
      <% @posts.each do |post| %>
        <li>
          <%= link_to post.title, post_path(post.id) %>
        </li>
      <% end %>
      </ul>
      <%= will_paginate %>
    </div>
  </div>
</div>